*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.one{
    background: radial-gradient(rgb(255, 218, 183),#bde0fe);
}


nav{
    flex:1;
    text-align: right;
    font-weight: bolder;
    font-size: larger;
}
nav ul{
    display: inline ;
    list-style-type: none;
    
}
nav ul li{
    display: inline;
    margin-right:20px;
    
}
a{
    text-decoration:none;
    color:#555;
}
p{
    color:#555;
} 
.container{
    max-width: 1300px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
    
}   
.row{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0 80px;
}
.col-2{
    flex-basis:50%;
    min-width:300px;
    font-weight: 600;
    font-size: x-large;
    
}
.col-2 img{
    max-width:100%;
    padding:50px 0;
   ;
}
.col-2 h1{
    font-size:50px;
    line-height:60px;
    margin:25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color:#fff;
    padding:8px 30px;
    margin:30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(rgb(76, 247, 121),#7ddb79);
}
.header .row{
    margin-top:60px;
    margin-bottom:70px;
}
.categories{
    margin:70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width:250px;
    margin-bottom: 30px;
}
.col-3 img{
    width:100%;
}
.small-container{
    max-width:1200px;
    margin:auto;
    padding:0 20px;
    transition:transform 0.5s;
}
.col-4{
    flex-basis: 25%;
    padding:10px;
    min-width:200px;
    margin-bottom: 50px;
}
.col-4 img{
    width:100%;
}
.title{
    text-align:center;
    margin:0 auto 80px;
    position:relative;
    line-height:60px;
    color:#555;
}
.title::after{
    content:'';
    background:#ff523b;
    width:80px;
    height:5px;
    border-radius:5px;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%)
}
h4{
    color:#555;
    font-weight:bolder;
}
.col-4 p{
    font-size:14px;
}
.col-4:hover{
    transform: translateY(-5px);
    
}
/*offers*/
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding:30px 0;
}
.col-2 .offer-img{
    padding:50px;
}
/*-----brands*/
.brands{
    margin:auto;
}
.col-4{
    width:160px;
}
.col-4 img{
    width:100%;
    cursor:pointer;
}
/*-----footer----*/
.footer{
    background:#000;
    color:#8a8a8a;
    font-size:14px;
    padding:60px 0 20px;
}
.footer p{
color:#8a8a8a;
}
.footer h3{
    color:#fff;
    margin-bottom:20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width:250px;
    margin-bottom:20px;
    font-weight: bold;
}
.footer-col-1{
    flex-basis:30%;
}
.footer-col-2{
    flex:1;
    text-align:center;
}
.footer-col-2 img{
    margin-bottom:20px;
}
.footer-col-3, .footer-col-4{
    flex-basis:12%;
    text-align:center;
}
ul{
    list-style-type:none;
}

.one1{
    background: radial-gradient(rgb(255, 218, 183),#bde0fe);
}



